<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Item</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="/scripts/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Syncopate|Contrail+One|Strait' rel='stylesheet' type='text/css'>
    <script src="/scripts/apps.js"></script>
  </head>
  <body>
    <header>
      <a class="logout" href="/users/logout">Logout</button></a>
      <img class="registerLogo" src="/images/logo-final.png" alt=""/>
    </header>

<h1 class="signup">Edit Item: "<%= @item.title %>."</h1>

<div class="container">
  <p class="signup2">Make changes to your item here, or go back to your <a href="/items">List</a></p>

<div class="dropdown btn-group">
 <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="menu1">Categories<span class="caret"></span>
 </button>
 <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
   <li class="catdrop" role="presentation"><a role="menuitem" tabindex="-1" href="#" data-catid='1'>Sporting Goods</a></li>
   <li class="catdrop" role="presentation"><a role="menuitem" tabindex="-1" href="#" data-catid='3'>Home Goods</a></li>
   <li class="catdrop" role="presentation"><a role="menuitem" tabindex="-1" href="#" data-catid='4'>Books</a></li>
   <li class="catdrop" role="presentation"><a role="menuitem" tabindex="-1" href="#" data-catid='2'>Electronics</a></li>
   <li class="catdrop" role="presentation"><a role="menuitem" tabindex="-1" href="#" data-catid='5'>Other</a></li>
   <li class="catdrop" role="presentation" class="divider"></li>
 </ul>
</div><br>

<div class="itemform">

  <form class="itemsform" action="/items/edit" method="post">

    <div class="radios">
    <input type='radio' name='has_item'> have
    <input type='radio' name='wants_item'> want
    </div>
    <input id="category-hidden" type="hidden" name="category" value="">
    <input type="hidden" name="id" value='<%= @item.id %>'>
    <input type="hidden" name="id" value='<%= @attribute.id %>'>
    <input class="itemsform1" type="text" name="title" value='<%= @item.title %>'>
    <input class="itemsform2" type="text" name="description" value='<%= @item.description %>'>
    <input class="itemsform3" type="text" name="color" value='<%= @attribute.color %>'>
    <input class="itemsform4" type="text" name="size" value='<%= @attribute.size %>'>
    <input class="itemsform5" type="text" name="condition" value='<%= @attribute.condition %>'>
    <input class="itemsform6" type="text" name="location" value='<%= @attribute.location %>'>
    <input class="form7" type="submit" value="Edit Item">
    </form>

    <form action="/items/delete" method="post">
    <input type="hidden" name="id" value='<%= @item.id %>'>
    <input type="hidden" name="id" value='<%= @attribute.id %>'>
    <input class="form7" type="submit" value="Delete Item">
    </form>


</div><br>
</div>
<footer class="footer">
<h4 class="footertag">&copy WishList is a Registered trademark 2015</h4>
</footer>

</body>
</html>
