<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WishList</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href='http://fonts.googleapis.com/css?family=Syncopate|Contrail+One|Strait' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <a class="logout" href="/users/logout">Logout</button></a>
      <img class="registerLogo" src="/images/logo-final.png" alt=""/>
    </header>

    <h2 class="signup"> <%=@user_name%> </h2>
    <a class="form6" href='/items/create'>create new item</a>
    <div class="formbox1">


      <h2 class="signup">wants</h2>
      <div class="wantsbox">

        <% if @wants.nil? == false %>
        <% @wants.each do |want| %>
          <li><%= want.title.to_s %></li>
        <% end %>
        <% end %>


      </div>

      <h2 class="signup">haves</h2>
      <div class="havesbox">
        <% if @haves.nil? == false %>
        <% @haves.each do |has| %>
          <li class="ruby"><%= has.title.to_s + " / " + has.description.to_s %></li>
        <% end %>
        <% end %>


      </div>

      <h2 class="signup">barter with</h2>
        <% if @matches.nil? == false %>
        <% @matches.each do |match| %>
          <li><a href='mailto:<%= match[:email] %>'><%= match[:email] %></a> has <strong><%= match[:title] %></strong></li>
        <% end %>
        <% end %>
      <div class="matchesbox">




      </div>



    </div>
  </body>
</html>
