<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WishList</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href='http://fonts.googleapis.com/css?family=Syncopate|Contrail+One|Strait' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <a class="logout" href="/users/logout">Logout</button></a>
      <img class="registerLogo" src="/images/logo-final.png" alt=""/>
    </header>

    <h2 class="signup"> <%=@username%> </h2>
    <a class="form6" href='/items/create'>create new item</a>
    <div class="formbox1">

        <h2 class="signup">wants</h2>
        <div class="wantsbox">
        <table>

          <thead>
            <th><u>Title</u></th>
            <th><u>Description</u></th>
            <th><u>Modify?</u></th>
          </thead>

          <tbody>
            <% if @wants.nil? == false %>
            <% @wants.each do |want| %>
            <tr>
                <td>
                  <%= want.title.to_s %>
                </td>
                <td>
                  <%= want.description.to_s %>
                </td>
                <td>
                  <a href="/items/edit/<%= want.id %>">Edit</a>
                </td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
        </div>

        <h2 class="signup">haves</h2>
        <div class="havesbox">
        <table>
          <thead>
            <th><u>Title</u></th>
            <th><u>Description</u></th>
            <th><u>Modify?</u></th>
          </thead>

          <tbody>
            <% if @haves.nil? == false %>
            <% @haves.each do |has| %>
            <tr>
                <td>
                  <%= has.title.to_s %>
                </td>
                <td>
                  <%= has.description.to_s %>
                </td>
                <td>
                  <a href="/items/edit/<%= has.id %>">Edit</a>
                </td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
        </div>

        <h2 class="signup">barter with</h2>
        <div class="matchesbox">
        <table>
          <thead>
            <th><u>Title</u></th>
            <th><u>Description</u></th>
            <th><u>Email</u></th>
          </thead>

          <tbody>
            <% if @matches.nil? == false %>
            <% @matches.each do |match| %>
            <tr>
                <td>
                  <%= match[:title] %>
                </td>
                <td>
                  <%= match[:description] %>
                </td>
                <td>
                  <a href='mailto:<%= match[:email] %>'><%= match[:email] %></a>
                </td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
        </div>

    </div>
    <footer class="footer">
  <h4 class="footertag">&copy WishList is a Registered trademark 2015</h4>
    </footer>

  </body>

</html>
